<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::title}, ~{::section})}"><head>
    <meta charset="UTF-8">
    <title>Edit Notes</title>
</head>
<body>
<section>
    <div class="container 5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header text-center"><h3>Edit your Notes</h3></div>


                    <div class="card-body">
                        <form action="/user/updateNote" method="post">
                            <input type="hidden" name="id" th:value="${notes.id}">
                            <div class="mb-3"><label>Enter Title</label><input type="text" name="title" class="form-control" th:value="${notes.title}"></div>
                            <div class="mb-3"><label>Enter Description</label>
                                <textarea name="description" cols="75" rows="6" >[[${notes.title}]]</textarea>
                            </div>
                            <button type="submit" class="col-md-12 btn btn-primary mt-4">Update</button>

                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
</body>
</html>